/* login.css */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-page h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #04acfa;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
  }
  .button2{
    background-color: #8668c2;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0591c6;
  }
  